# compiled output
./dist
./tmp
./out-tsc
./documentation
./be*
./fe*
./nginx/log
/doris
/public
.env
nginx/log/

# dependencies
./node_modules

# volumes
starrocks/fe/log
starrocks/fe/meta
starrocks/be/log
starrocks/be/storage
